<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>若依紹介</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="row border-bottom white-bg dashboard-header">
        <div class="col-sm-3">
            <h2>Hello,Guest</h2>
            <small>移動端のアクセスは、以下のQRコードをスキャンしてください。</small>
            <br>
            <br>
            <img th:src="@{/img/bandaokaola_line.png}" width="100%" style="max-width:264px;">
            <br>
        </div>
        <div class="col-sm-5">
            <h2>若依　情報管理システム</h2>
            <p>　　日本では情報管理システムの需要が多いので、オープンソース版を作成してみんなと共有したいと思います。
               たくさん良いオープンソースプロジェクトは見つかりましたが、<b>ライセンス</b>や<b>使う技術</b>、<b>プロジェクトの内容</b>を考えて、もちろんゼロから新しく作ることも考えましたが、
               <b>オープンソース</b>（MITライセンス）の「<b>若依</b>」システムを参照し、二次開発をしました。
               最終的には「若依情報管理システム」を作りました。<br>
            </p>
            <p>若依　情報管理システムを使えて再開発すれば、<br>
                 <b>　　ウェブサイトのデータ管理システム</b><br>
                 <b>　　会員管理システム</b><br>
                 <b>　　ホームページ管理システム</b><br>
                 <b>　　コンテンツ・マネジメント・システム（CMS）</b><br>
                 <b>　　顧客関係管理（CRM）</b><br>
                 <b>　　事業所、事務所の自動化（OA）</b><br>
               などにも対応できます。もちろん、しっかり<b>カスタマイズ</b>してより自社独自なシステムにすることも可能です。<br>
            </p>
            <p>　　フロントエンドもバックエンドもシンプルで使いやすいコードでしていますので、分かり易いし、簡単に再開発できます。
               同時に、モバイルクライアントからもアクセスできます。これからも順次、いくつかの実用的な機能をアップデートしていきます。
            </p>
            <p>※<b>MITライセンス：</b>MIT(マサチューセッツ工科大学)が作成したソフトウェアのライセンスであり、オープンソースソフトウェアの一種です。
                 MITライセンスを採用したソフトウェアは、誰でも自由に利用、複製、改変、配布が可能であり、商用利用も自由です。
                 ソフトウェアを使用するために必要な唯一の条件は、ソフトウェアのすべての複製物またはその相当部分に同じ著作権表示を含めることです。
            </p>
            <p>
                <b>現在のバージョン：</b><span>v[[${version}]]</span>
            </p>
            <p>
                <span class="label label-warning">&yen;無料でオープンソース</span>
            </p>
            <br>
            <p>
                <a class="btn btn-success btn-outline" href="https://github.com/bandaokaola/RuoYi_JP" target="_blank">
                    <i class="fa fa-cloud"> </i> github
                </a>
                <a class="btn btn-white btn-bitbucket" href="https://github.com/bandaokaola/RuoYi_JP" target="_blank">
                    <i class="fa fa-home"></i> ホームページ
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <h4>技術選定：</h4>
            <ol>
                <li>コアフレームワーク：Spring Boot。</li>
                <li>セキュリティフレームワーク：Apache Shiro。</li>
                <li>テンプレートエンジン：Thymeleaf。</li>
                <li>パーシステンスフレームワーク：MyBatis。</li>
                <li>スケジュールタスク：Quartz。</li>
                <li>データベースコネクションプール：Druid。</li>
                <li>ユーティリティクラス：Fastjson。</li>
                <li>その他……</li>
            </ol>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>連絡先</h5>
                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i> ホームページ：<a href="https://github.com/bandaokaola/RuoYi_JP" target="_blank">https://github.com/bandaokaola/RuoYi_JP</a>
                        </p>
                        <p><i class="fa fa-line-chart"></i> line-chart： <a href="https://line.me/ti/p/SHLsizqvwW" target="_blank">bandaokaola_line </a>
                        </p>
                        <p><i class="fa fa-weixin"></i> WeChat：<a href="https://u.wechat.com/kFw33gxrTVDfZNOYjenPmhg" target="_blank">bandaokaola</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新履歴</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version"></div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                   <h5 class="panel-title">
                                       <a data-toggle="collapse" data-parent="#version" href="#v501">v5.0.1</a><code class="pull-right">2023.12.15</code>
                                   </h5>
                                </div>
                                <div id="v501" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                       <ol>
                                            <li>ホームページ日本語化</li>
                                            <li>TODO...</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                   <h5 class="panel-title">
                                       <a data-toggle="collapse" data-parent="#version" href="#v500">v5.0.0</a><code class="pull-right">2023.12.14</code>
                                   </h5>
                                </div>
                                <div id="v500" class="panel-collapse collapse">
                                    <div class="panel-body">
                                       <ol>
                                            <li>若依　情報管理委ステム　日本語化</li>
                                            <li>バックエンド日本語化</li>
                                            <li>登録画面日本語化</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v478">v4.7.8</a><code class="pull-right">2023.12.05</code>
                                        </h4>
                                    </div>
                                    <div id="v478" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>若依　情報管理委ステム</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>寄付</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="ibox-content">
                                <div class="alert alert-warning">
                                    開発者にコーヒーをおごってもよろしいですか？<br>（画像をクリックして拡大）
                                </div>
                                <p id="pay-qrcode">
                                    <a href="javascript:;"><img th:src="@{/img/bandaokaola_wechat.png}" width="100%" style="max-width:264px;" alt="携帯でWeChatを使用してQRコードをスキャンして支払ってください。">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script type="text/javascript">
        $('#pay-qrcode').click(function(){
            var html=$(this).html();
            parent.layer.open({
                title: false,
                type: 1,
                closeBtn:false,
                shadeClose:true,
                area: ['600px', '360px'],
                content: html
            });
        });
    </script>
</body>
</html>
