<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RuoYi - 403</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.min.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1>403</h1>
        <h3 class="font-bold">アクセス権がありません。</h3>

        <div class="error-desc">
                                申し訳ありませんが、アクセス権がありません。不正な操作を行っているかもしれませんので、ホームページに戻りしましょうか。
            <a href="javascript:index()" class="btn btn-outline btn-primary btn-xs">ホームページに戻る</a>
        </div>
    </div>
    <script th:inline="javascript">
      var ctx = [[@{/}]];
      function index() {
          window.top.location = ctx + "index";
      }
    </script>
</body>
</html>
