<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('定时任务详细')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	
	<form class="form-horizontal m-t" id="jobLogForm" th:if="${name == 'jobLog'}">
	    <div class="form-group">
			<label class="col-sm-3 control-label">ログNo：</label>
			<div class="form-control-static" th:text="${jobLog.jobLogId}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">タスク名：</label>
			<div class="form-control-static" th:text="${jobLog.jobName}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">タスクグループ：</label>
			<div class="form-control-static" th:text="${@dict.getLabel('sys_job_group', jobLog.jobGroup)}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">呼び出し対象の文字列：</label>
			<div class="form-control-static" th:text="${jobLog.invokeTarget}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">ログ情報：</label>
			<div class="form-control-static" th:text="${jobLog.jobMessage}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">実行状態：</label>
			<div class="form-control-static" th:class="${jobLog.status == '0' ? 'label label-primary' : 'label label-danger'}" th:text="${jobLog.status == '0' ? '正常' : '失败'}">
			</div>
		</div>
		<div class="form-group" th:style="'display:' + ${jobLog.status == '0' ? 'none' : 'block'}">
			<label class="col-sm-3 control-label">異常情報：</label>
			<div class="form-control-static" th:text="${jobLog.exceptionInfo}">
			</div>
		</div>
	</form>
	
	<form class="form-horizontal m-t" id="jobForm" th:if="${name == 'job'}">
	    <div class="form-group">
			<label class="col-sm-3 control-label">タスク番号：</label>
			<div class="form-control-static" th:text="${job.jobId}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">タスク名：</label>
			<div class="form-control-static" th:text="${job.jobName}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">タスクグループ：</label>
			<div class="form-control-static" th:text="${job.jobGroup}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">呼び出す命令文：</label>
			<div class="form-control-static" th:text="${job.invokeTarget}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Cron式：</label>
			<div class="form-control-static" th:text="${job.cronExpression}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">次回実行時間：</label>
			<div class="form-control-static" th:text="${#dates.format(job.nextValidTime, 'yyyy-MM-dd HH:mm:ss')}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">実行方式：</label>
			<div class="form-control-static" th:if="${job.misfirePolicy == '0'}">ディフォルト</div>
			<div class="form-control-static" th:if="${job.misfirePolicy == '1'}">即時実行</div>
			<div class="form-control-static" th:if="${job.misfirePolicy == '2'}">一度だけ実行</div>
			<div class="form-control-static" th:if="${job.misfirePolicy == '3'}">実行取り消し</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">並列実行：</label>
			<div class="form-control-static" th:class="${job.concurrent == '0' ? 'label label-primary' : 'label label-danger'}" th:text="${job.concurrent == '0' ? '允许' : '禁止'}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">タスク状態：</label>
			<div class="form-control-static" th:class="${job.status == '0' ? 'label label-primary' : 'label label-danger'}" th:text="${job.status == '0' ? '正常' : '暂停'}">
			</div>
		</div>
	</form>
	
    </div>
</body>
</html>